{
  "id": "cf374750-eafe-4122-91c5-2cce7e7f4846",
  "name": "Production",
  "values": [
    {
      "key": "baseUrl",
      "value": "https://sks-lotse.de",
      "type": "default",
      "enabled": true
    },
    {
      "key": "bearerToken",
      "value": "",
      "type": "secret",
      "enabled": true
    }
  ],
  "_postman_variable_scope": "environment"
}
